{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Michal Hozza">

    <title>Signin for Malina</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="{% static 'icon/raspberry.svg' %}" alt="" width="72" height="72">
      <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-lg btn-primary btn-block">Sign in</a>
      <p class="mt-5 mb-3 text-muted">&copy; Michal Hozza 2018</p>
    </form>
  </body>
</html>
