{% extends "pi_control/base.html" %}
{% load static sekizai_tags %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
    </form>

    <hr/>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            Error. Please check logs.
        </div>
    {% endif %}
    {% if words %}
        <h2>{{ words | length }} vysledkov</h2>
    {% endif %}
    <ul class="list-unstyled">
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>
{% endblock %}